<div class="container text-center">
    <div class="images .img-fluid. max-width: 100%;">
        <a href="">
            <img src="../../assets/images/gold.jpg">
            <p>Renault Triber</p>
        </a>
        <a href="">
            <img src="../../assets/images/maruti swift.jpg">
            <p>Maruti Suzuki Swift</p>
            <h6></h6>
        </a>
        <a href="">
            <img src="../../assets/images/xuv700.jpg">
            <p>Mahindra XUV700</p>
        </a>
        <a href="">
            <img src="../../assets/images/jeep.jpg">
            <p>Jeep Compass</p>
            
        </a>
        <a href="">
            <img src="../../assets/images/volvo.jpg">
            <p>Volvo XC90</p>
        </a>
        <a href="">
            <img src="../../assets/images/mahindra thar.jpg">
            <p>Mahindra Thar</p>
        </a>
    </div>
</div>

