<div class="container text-center">
    <div class="images .img-fluid. max-width: 100%;">
        <a href="">
            <img src="../../assets/images/black scooter.jpg">
            <p>Yamaha Aerox 155</p>
        </a>
        <a href="">
            <img src="../../assets/images/blue scooter.jpg">
            <p>Honda Activa 6G</p>
            <h6></h6>
        </a>
        <a href="">
            <img src="../../assets/images/blue bike.jpg">
            <p>Hero Splendor Plus</p>
        </a>
        <a href="">
            <img src="../../assets/images/black.jpg">
            <p>Royal Enfield Classic 350</p>
            
        </a>
        <a href="">
            <img src="../../assets/images/mat grey bike.jpg">
            <p>Keeway V302C</p>
        </a>
        <a href="">
            <img src="../../assets/images/ktm orange bike.jpg">
            <p>KTM 200 Duke</p>
        </a>
    </div>
</div>

