<div class="container text-center">
    <div class="images .img-fluid. max-width: 100%;">
        <a href="">
            <img src="../../assets/images/luggage/mini rickshaw.jfif">
            <p>Yamaha Aerox 155</p>
        </a>
        <a href="">
            <img src="../../assets/images/luggage/light luggage.jfif">
            <p>Honda Activa 6G</p>
            <h6></h6>
        </a>
        <a href="">
            <img src="../../assets/images/luggage/white maruti suzuki.jfif">
            <p>Hero Splendor Plus</p>
        </a>
        <a href="">
            <img src="../../assets/images/luggage/full luggage.jfif">
            <p>Royal Enfield Classic 350</p>
            
        </a>
        <a href="">
            <img src="../../assets/images/luggage/4.jfif">
            <p>Keeway V302C</p>
        </a>
        <a href="">
            <img src="../../assets/images/luggage/heavyluggage.jfif">
            <p>KTM 200 Duke</p>
        </a>
    </div>
</div>

