<div class="container text-center aboutus">
    <h1 class="text-center p-10">Know Us</h1>
    <p>A Renting Speed is an a company that provides different types of automobiles on rent for a shorter period or longer period.</p>
    <p>The rules and regulations regarding car rental vary in different countries. This service is generally for those persons who need a vehicle for a temporary period and can not purchase their vehicle. For example, tourists and travelers who need a vehicle for traveling.</p>
    <p>Your safety is our responsibility. Therefore, we have taken stringent Covid-19 safety measures to protect
        all of our guests onboarding our vehicle. While we are closely following the guidelines of the
        National Health Authorities, we have also introduced enhanced safety measures.</p>
    <p>Moving you with minimal contact.
        Our chauffeurs will be wearing masks and gloves at all times.
        Our chauffeurs will open and close the door to minimize direct contact between the car and the guest.</p>
    <p>Keeping our vehicles safe & sanitized.
        Cleaning and disinfecting the vehicle before each rental.
        Using only standard R1/Oxivir disinfectant
        Other than cleaning the exterior & interior, special attention is being paid to frequent touchpoints such as steering wheels, indicators controller, dashboards, hand grips, in-car entertainment system controls, cup holders, centre consoles and door handles, both inside and out.</p>
    <p>Keeping Our Employees Safe.
        Conducting daily temperature screenings of all staff, including chauffeurs and visitors to our offices with a non-contact thermometer.
        Cleaning our facilities frequently with standard R1/Oxivir disinfectants.
        Instructing all chauffeurs, employees and associates to maintain Social distancing.
        </p>
</div>
<br>