<app-header></app-header>

<div class="top-left"><app-sidenav></app-sidenav></div>

<!-- <app-header></app-header> -->

<!-- <app-bicycle></app-bicycle>
<app-bike></app-bike>
<app-car></app-car>
<app-bus></app-bus>
<app-luggage></app-luggage> -->
<!-- <app-home></app-home>
<app-aboutus></app-aboutus>
<app-services></app-services>
<app-register></app-register>

<app-helpp></app-helpp>
<br><br> -->

<router-outlet></router-outlet>
<!--<app-footer></app-footer>  -->
<!-- <app-bicycle-info></app-bicycle-info> -->