<div class="container text-center">
    <div class="images .img-fluid. max-width: 100%;">
        <a href="">
            <img src="../../assets/images/buses/20seater bus.jfif">
            <p>Renault Triber</p>
        </a>
        <a href="">
            <img src="../../assets/images/buses/ac bus red.jfif">
            <p>Maruti Suzuki Swift</p>
            <h6></h6>
        </a>
        <a href="">
            <img src="../../assets/images/buses/electric bus.jpg">
            <p>Mahindra XUV700</p>
        </a>
        <a href="">
            <img src="../../assets/images/buses/volvo bus.jfif">
            <p>Jeep Compass</p>
            
        </a>
        <a href="">
            <img src="../../assets/images/volvo.jpg">
            <p>Volvo XC90</p>
        </a>
        <a href="">
            <img src="../../assets/images/mahindra thar.jpg">
            <p>Mahindra Thar</p>
        </a>
    </div>
</div>


