<div class="container text-center  ">
    <h1>Our Services</h1>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded">
        <div class="column travel ">
            <h2 >Travel <i class="fa-solid fa-van-shuttle"></i></h2><br>
            <h4 >Book vehicle for Journey</h4>
            <h6>Travel hassel-free</h6><br>
            <h6>Rent it Out</h6><br>
            <h6>For memorable trips</h6><br>
            <h6>Easy Services</h6><br>
        </div>
        <div class="column luggage ">
            <h2>Luggage <i class="fa-solid fa-truck-moving"></i></h2><br>
            <h4>Book vehicle for Shifting</h4>
            <h6>Secure Transportation</h6><br>
            <h6>Affordable Shifting Charges</h6><br>
            <h6>Online tracking of consignments</h6><br>
            <h6>Free pre-move survey</h6><br>
        </div>
        <div class="column per">
            <h2>Per Day/Month<i class="fa-solid fa-car-side"></i></h2><br>
            <h4>Book vehicle for Routine </h4>
            <h6>Local City Usage</h6><br>
            <h6>Lowest Price</h6><br>
            <h6>Airport Pickup and Drop</h6><br>
            <h6>Easy Services</h6></div><br>
        </div>
      
</div>
<br>
<br>

