<div class="side-nav">
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bicycle" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-bicycle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bike" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-motorcycle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/car" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-car-side"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bus" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-van-shuttle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/luggage" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-truck-moving"></i></a>
        </li>
      </ul>
</div>
