
    <!-- <div>Some tags before</div>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img src="../../assets/images/kidsblue.avif">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../assets/images/mountainblue.avif">
        </ng-template>  
        <ng-template carouselSlide>
            <img src="../../assets/images/mountainpink.avif">
        </ng-template>  
    </owl-carousel-o>
    <div>Some tags after</div> -->
<div class="container text-center">
    <div class="images .img-fluid. max-width: 100%;">
        <a href="">
            <img src="../../assets/images/kidsblue.avif">
            <p>Kids Cycle Dark Hero 3 - 4 years (14inch) - Blue</p>
        </a>
        <a href="">
            <img src="../../assets/images/kidsorange.avif">
            <p>Kids Cycle Robot 4 - 6 years (16inch) - Orange</p>
            <h6></h6>
        </a>
        <a href="">
            <img src="../../assets/images/mountainpink.avif">
            <p>Adult Mountain Bike Rockrider ST100 - Pink</p>
        </a>
        <a href="">
            <img src="../../assets/images/mountaingrey.avif">
            <p>Adult Mountain Bike Rockrider ST98 - Grey</p>
            
        </a>
        <a href="">
            <img src="../../assets/images/mountainblue.avif">
            <p>Adult Mountain Bike Rockrider ST99 - Blue</p>
        </a>
        <a href="">
            <img src="../../assets/images/hybridgrey.avif">
            <p>Adult Hybrid Cycle Riverside 120 - Grey</p>
        </a>
    </div>
</div>


  